@{
    ViewData["Title"] = "Контакты";
}

<!DOCTYPE html>
<html>
<head>
    <title>Контакты</title>
</head>
<body>
    <div class="container2">
        <h3>
            ИП Лошкарева Алёна Игоревна
        </h3>
        <p style="margin-top: 10px">ИНН: 330710629601</p>
        <p>ОГРН: 323330000033300</p>
        <p>Номер телефона - +79961380719.</p>
        <p>Адрес электронной почты - dmitriy@waznaw.ru</p>

        <br />
        <h5>Юридический адрес организации</h5>
        <p>
            РОССИЯ, ВЛАДИМИРСКАЯ ОБЛ, Г МУРОМ, УЛ ЛЕНИНГРАДСКАЯ, Д 42, КВ 21
        </p>
        <br />
        <h5>
            Расчётный счёт
        </h5>
        <p>40802 810 3 0000 4857169</p>
        <p>Банк АО "ТИНЬКОФФ БАНК"</p>
        <p>ИНН БАНКА 7710140679</p>
        <p>БИК БАНКА 044525974</p>
        <p>Корреспондентский счет банка</p>
        <p>30101810145250000974</p>
        <p>Юридический адрес банка Москва, 127287, ул. Хуторская 2-я, д. 38А, стр. 2б</p>
    </div>
</body>
</html>
