@{
    ViewData["Title"] = "Доставка товара";
}

<!DOCTYPE html>
<html>
<head>
    <title>Доставка цифрового товара</title>
</head>
<body>
    <div class="container2">
        <h4>Доставка цифрового товара</h4>
        <br />
        <p>Для игры в нашу игру вам необходимо приобрести попытку.</p>
        <p>После покупки в игре автоматически отобразится количество доступных вам попыток поиграть.</p>
    </div>
</body>
</html>
