@using WebAppForGame.Data
@using DevExtreme.AspNet.Mvc;
@model List<Products>
@{
    ViewData["Title"] = "Главная";
}


<div id="page-wrapper">
    <div class="container">
        <br />
       <h4>
           Добро пожаловать!
       </h4>
       <br />
       <h5>
           Говорит команда разработчиков SpeedBox. Мы рады Вас видеть.
        </h5>
        <h5>
           Для доступа к списку товаров, пожалуйста, перейдите по ссылке в игре.
        </h5>
        <h5>      
            Спасибо, что Вы с нами!
        </h5>


    </div>


</div>

