@{
    ViewData["Title"] = "Спасибо за покупку";
}

<!DOCTYPE html>
<html>
<body>
    <div class="container2">
        <h1>Спасибо за платеж!</h1>
        <p>Мы очень ценим вашу поддержку.</p>
    </div>
</body>
</html>