@using WebAppForGame.Data
@model List<Products>

@{
    Layout = "_Layout";
}
<main>
    <div class="header">
        <div class="left">
            <h1>Товары</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/Admin">
                        Admin
                    </a>
                </li>
                /
                <li><a href="/Products" class="active">Products</a></li>
            </ul>
        </div>
    </div>
</main>
