<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web.webPages.razor>
		<namespaces>
			<add namespace="Devextreme.AspNet.Mvc" />
		</namespaces>
	</system.web.webPages.razor>
	<appSettings>
		<add key="PaymentUrl" value="https://paymaster.ru/api/v2/invoices"/>
	</appSettings>

</configuration>